
html {
    font-size: 16px; /* 1rem verdi i mobil versjon */
}

@media screen and (min-width: 700px) {
    html {
        font-size: 20px; /* 1rem verdi i desktop versjon */
    }
}

body {
    background-color: cadetblue;
    color: #ffffff;
    font-family: sans-serif;
}

header {
    background-color: rgb(187, 243, 245);
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    height: 6rem;
    align-items: center;
    padding: 1rem;
}

@media print {
    header {
        display: none;
    }
}

header nav {
    display: block;
}

@media screen and (min-width: 700px) {
    header nav{
        display: block;
    }
}

header ul {
    display: none
}

header nav ul li {
    color: darkmagenta;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

@media screen and (min-width: 700px) {
    header ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }
}

@media screen and (max-width: 300px) {
    header {
        display: block;
        
    }
}

p {
    background-color: bisque;
}

.first-pararaph 
{
    background-color: #99d5e6;
    margin: 50px 100px 100px 200px;
    width: 400px;
    height: 100px;
    padding: 20px 20px 20px 20px
}

#second-paragraph 
{
    background-color:#99d5e6 ;
    color: #ffffff;
    width: 400px;
    height: 200px;
    padding: 20px 20px 20px 20px;
    margin: 50px 100px 100px 200px;
}

.img-container {
    width: 700px;
    margin:0 auto 0 auto;
 }

 .main-picture {
    width: 100%;
 }

 .img-container-2 {
    width: 700px;
    margin: 0 auto 0 auto;
 }

.second-picture {
    width: 100%;
}
 
.my-box{
    width: 400px;
    height: 400px;
    
    
    
}