
body {
    background-color: cadetblue;
    color: #ffffff;
}

header {
    background-color: rgb(187, 243, 245);
    display: none;
}

@media screen and (min-width: 1000px) {
    header {
        
    }
}

p {
    background-color: bisque;
}

.first-pararaph 
{
    background-color: #99d5e6;
    margin: 50px 100px 100px 200px;
    width: 400px;
    height: 100px;
    padding: 20px 20px 20px 20px
}

#second-paragraph 
{
    background-color:#99d5e6 ;
    color: #ffffff;
    width: 400px;
    height: 200px;
    padding: 20px 20px 20px 20px;
    margin: 50px 100px 100px 200px;
}

.img-container {
    width: 700px;
    margin:0 auto 0 auto;
 }

 .main-picture {
    width: 100%;
 }

 .img-container-2 {
    width: 700px;
    margin: 0 auto 0 auto;
 }

.second-picture {
    width: 100%;
}
 
.my-box{
    width: 400px;
    height: 400px;
    
    
    
}